/* GENERAL */
:root {
  --color-primary: #0084fd;
  --color-primary-light: #b5ddff;
  --color-secondary: #9792e4;
  --color-tertiary: #fdc15f;
  --color-black: #000000;
  --color-dark: #333333;
  --color-light: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* UTILITIES */
.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  background-color: goldenrod;
  border: 1px solid gray;
  text-align: center;
}

.debug2 {
  background-color: rgb(221, 189, 108);
  border: 1px solid gray;
  text-align: center;
}

/* BUTTONS */
.btn {
  background-color: var(--color-light);
  color: var(--color-black);
  padding: 6px 12px;
  border-radius: 40px;
}

.btn.blue {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.btn.violet {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.btn-big {
  color: var(--color-secondary);
  padding: 30px 50px;
}

/* HEADER */
header {
  background-color: var(--color-primary);
  color: var(--color-light);
  position: fixed;
  width: 100%;
  height: 75px;
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu div {
  width: 20px;
  height: 3px;
  background-color: var(--color-light);
  margin: 4px 0;
}

.desktop-menu {
  display: none;
}

/* MAIN */
main {
  padding-top: 75px;
}

/* DEMO SECTION */
#demo-section {
  padding: 50px 0 80px 0;
}

#demo-section .col {
  height: 300px;
}

#demo-section .col.large {
  height: 600px;
}

#demo-section .col.large div {
  height: 50%;
}

/* PLANNIG SECTION */
#plan-section {
  background-color: var(--color-secondary);
  padding: 65px 0;
}

#plan-section .col {
  height: 600px;
}

#plan-section .col div {
  height: 50%;
}

/* TESTIMONIALS SECTION */
#testimonials-section {
  padding: 65px 0 110px 0;
}

#testimonials-section .testimonial {
  height: 340px;
}

#testimonials-section .col {
  height: 500px;
}

#testimonials-section .img-box {
  height: 40%;
}

#testimonials-section .text-box {
  height: 60%;
}

/* BENEFITS SECTION */
#benefits-section {
  background-color: var(--color-secondary);
  padding: 80px 0 65px 0;
}

#benefits-section .col {
  height: 400px;
  text-align: left;
}

/* ABOUT SECTION */
#about-section {
  padding: 100px 0 155px 0;
}

#about-section .col:not(:last-child) {
  height: 400px;
  text-align: left;
}

/* GET STARTED SECTION */
#start-section {
  background-color: var(--color-secondary);
  padding: 65px 0;
}

#start-section .text-box {
  height: 320px;
}

/* FOOTER */
footer {
  background-color: var(--color-dark);
  padding: 40px 0;
}

/* RESPONSIVE */
/* Mobile: 375px
Tablet: 768px
Desktop: 1200px */
@media screen and (min-width: 768px) {
  .container {
    width: 730px;
  }

  #demo-section .row {
    display: flex;
    flex-wrap: wrap;
  }

  #demo-section .row .col {
    width: calc(100% / 3);
    height: 600px;
  }

  #demo-section .row .col.large {
    width: calc(100% / 3 * 2);
  }

  #testimonials-section .col {
    display: flex;
    align-items: center;
    height: 280px;
  }

  #testimonials-section .img-box,
  #testimonials-section .text-box {
    height: 100%;
  }

  #testimonials-section .img-box {
    width: 40%;
  }

  #testimonials-section .text-box {
    width: 60%;
    text-align: left;
  }

  #benefits-section .row {
    display: flex;
    flex-wrap: wrap;
  }

  #benefits-section .col {
    width: 50%;
  }

  #about-section .row {
    display: flex;
  }

  #about-section .col.text-box {
    width: calc(100% - 300px);
  }

  #about-section .col.img-box {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }

  .desktop-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-menu ul li {
    margin-left: 30px;
  }

  #demo-section .row .col {
    height: 300px;
  }

  #demo-section .col.large {
    display: flex;
  }

  #demo-section .col.large .text-box {
    width: 70%;
    height: 100%;
  }

  #demo-section .col.large .img-box {
    width: 30%;
    height: 100%;
  }

  #plan-section .row {
    display: flex;
  }

  #plan-section .row .col {
    width: 50%;
  }

  #benefits-section .col {
    width: calc(100% / 3);
  }

  #start-section .container,
  footer .container {
    width: 730px;
  }
}
